<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SafelyRent</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="p-2 display-right justify-space-between align-center">
      <nav>
		  <h1 class="company-name">SafelyRent</h1>
      <a class="nav-options">
        {{!-- <span role="img" aria-label="money"></span> --}}
        <a href="user/tenants" >My Tenants</a> |
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">Tenant Management</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container mt-5 container-fluid">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>
</p>
</div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
